$goat:              #EE7623;
$goat-light:        #FFB548;

$facebook:          #3B5998;
$instagram:         #C42E7F;
$instagram-stories: #F08639;
$musicly:           #FF0F50;
$snapchat:          #FFFC00;
$twitch:            #5F4494;
$twitter:           #7BC5F8;
$youtube:           #DE2825;

$male:              #34657D;
$female:            #FDB452;

$grey:              #D9D9D9;
